[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/vnord/anatole.git
[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
