{{ define "main" }}

<p>
Hi. My name is Ari. I'm a proud father, curious hacker, and professional software engineer.
</p>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Description }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}
